
/* Background color of the whole context menu */
.choice-box .context-menu { 
	-fx-background-color:  #45666E;
	-fx-pref-width: 250;
	-fx-alignment: center;
}
/* Focused item background color in the list */
.choice-box .menu-item:focused {
	-fx-background-color: #537880;
}
/* Text color of non-focused items in the list */
.choice-box .menu-item > .label {
	-fx-text-fill: white;
}
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label {
	-fx-text-fill: white;
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.choice-box {
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
}