.date-picker .text-field {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.date-picker .input-focused-line {
    -fx-background-color: transparent;
}

.date-picker {
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
	-fx-border-color: white;
	-fx-background-color: #45666E;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;
}
.date-picker-popup .spinner-label {
    -fx-font-size: 14.0;
}