.label {
	-fx-background-color: #45666E;
	-fx-text-fill: white;
	-fx-font-family: 'Comic Sans MS';
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
	-fx-min-width: 50;
	-fx-min-height: 20;
	-fx-alignment: center;
}